# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
test
warp
settime
time

# Python compiled files
*.pyc
__pycache__/

# Python virtualenv
.virt_gtodshim/
